body{
    background-color: #212721
}

/* !!! ORÇAMENTO: FORMS !!!*/
.forms_sec .form {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    color: #203212;
    background-color: #779d7f;
}
.forms_sec .form h1{
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    color: #a7bfac;
    background-color: #63896a;
}
.forms_sec form {
    align-items: center;
    margin: 0 auto;
    display:grid;
    width: 80%;         /* Define a largura do formulário como 80% da largura do contêiner pai */
    max-width: 300px;   /* Define a largura máxima do formulário */
    padding: 15px;
    border-radius: 25px;
    border: solid 2px #274013;
    background-color: #63896a;
}

.forms_sec form label {
    padding: 10px;
    color: #212721;
}

.forms_sec form .submit {
    margin: 12px;
    color: #212721;
    background-color: #a7bfac;
}

#obs{
    height: 200px;
    width:  300px;
}

/* !!! HOME: PARCERIAS !!! */
.logo_hoteis, .logo_carros {
    display: flex;
    justify-content: center;
    
}

.hoteis, .carros {
    border: solid 4px #63896a;
    background-color: #779d7f;
    margin-bottom: 80px;
    border-radius: 25px;
}

.logo {
    padding-inline: 150px;
}
.logo a {
    text-decoration: none;
    color: #203212;
}

.logo img {
    width: 80px;
    border-radius: 100%;
    border: solid 4px #203212;
}

.empresas_parceiras {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.empresas_parceiras h3 {
    text-decoration: none;
    border-radius: 25px;
    background-color: #63896a;
    padding: 7px;
}

.hoteis h1 {
    margin-inline:590px;
    border-radius: 25px;
    padding: 7px;
    background-color: #63896a;
    color: #a7bfac;
}
.carros h1 {
    margin-inline:500px ;
    border-radius: 25px;
    padding: 7px;
    background-color: #63896a;
    color: #a7bfac;
}

/* !!! HOME: SERVIÇOS !!!*/
.Servicos_sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #779d7f;
}

.Servicos_sec h1 {
    text-align: center;
    width: 85%;
    padding: 15px;
    border-radius: 10px;
    color: #a7bfac;
    background-color: #63896a;
}

.Servicos_sec h4 {
    padding: 15px;
    border: solid 2px #274013;
    border-radius: 25px;
    background-color: #63896a;
}

.servicos{ 
    display: flex;
    align-items:center;
    justify-content: center;
    align-items: flex-start;
}

/* !!! HOME: DESTINO VIAGENS !!! */
.destinos_viagens {
    display: flex;
    align-items: center;
}

.destino {
    outline: solid 30px #779d7f;
    background-color: #779d7f;
    border-radius: 25px;
    margin: 70px;
    text-align: center;
}
.destino h1 {
    text-align: center;
    color: #a7bfac;
    background-color: #63896a;
    border-radius: 25px;
    padding: 15px;
}

.destino img {
    width: 300px;
    background-color: #779d7f;
    border-radius: 25px;
}
.destino ul {
    border: solid 2px #274013;
    border-radius: 25px;
    background-color: #63896a;
}
.destino p {
    color: aliceblue;
    border: solid 2px #274013;
    border-radius: 25px;
    background-color: #63896a ;
}
.destino li {
    padding: 5px;
    text-align: justify;
}

/* !!! NAVEGAÇÃO SUPERIOR !!! */
.nav_top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 15px;
    background-color: #63896a;
    border-radius: 10px;
}

.nav_top .logo_fly_away {
    width: 10%;
    border-radius: 15px;
}

.nav_top .button_choice{
    text-decoration: none;
    margin: 15px;
    padding: 12px;
    border-radius: 10px;
    transition: 0.5s;
    color: #274013;
    background-color: #779d7f;
}
.nav_top .active {
    text-decoration: none;
    margin: 15px;
    padding: 12px;
    border-radius: 10px;
    transition: 0.5s;
    color: aliceblue;
    background-color: #203212;
}

/*!!! footer !!!*/
.footer {
    position:relative ;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 20px;
    background-color: #63896a;
    border-radius: 10px;
}
.footer .button_choice{
    text-decoration: none;
    margin: 15px;
    padding: 12px;
    border-radius: 10px;
    transition: 0.5s;
    color: #274013;
    background-color: #779d7f;
}
.promocoes h3 {
    padding: 15px;
    border: solid 2px #274013;
    border-radius: 25px;
    background-color: #63896a;
}
.promocoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #779d7f;
}
.promocoes ul{
    display: flex;
    align-items: center;
    flex-direction:column;
    border-radius: 25px;
    justify-content: center;
}
    
